.main-container {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.quantity-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
}

.full-img {
  width: 100%;
  height: auto;
  max-height: 150px; 
  object-fit: cover;
}

ion-card {
  padding: 16px;
}

ion-row {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

ion-row:last-child {
  border-bottom: none;
}

.precioTotalConDescuento {
  color: green;
}