ion-button[ion-text="Comprar"] {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quantity-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
    ion-button {
      margin: 0 5px;
    }
  }

  .no-cupones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px; // Opcional: Añadir un poco de padding para el texto
  }
  