body {
  /* Agregar un fondo */
  background-color: #001940;
}

.navbar-logo {
  height: 50px;
  width: auto;
  margin-left: 5px;
}


.custom-modal-header {
  background-color: #001940;
  color: #FFF;
}

.custom-modal-header .btn-close{
  background-color: #61dafb;
}

.table-responsive {
  max-height: 35em;
}

footer {
  position: static;
  width: 100%;
  background-color: #333;
  color: #F2F7FC;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #F2F7FC;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #F2F7FC;
}

.main {
  background-color: #FFF;
  /*Esto es necesario para que el footer funcione*/
  min-height: 65vh;
  margin-bottom: 8em;
}

.formCreateUser h3{
  color: #547ab7;
}

.formCreateUser {
  display: flex;
  justify-content: center;
}

.formCreateUser .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cfcfcf;
  width: 75%;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.formCreateUser .formContainer .form-group {
  margin-bottom: 1em;
  width: 100%;
}

.formCreateUser .formContainer .form-control {
  width: 100%;
  min-width: 20em; 
}

.formCreateCupon h3 {
  color: #547ab7;
}

.formCreateCupon {
  display: flex;
  justify-content: center;
}

.formCreateCupon .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cfcfcf;
  width: 75%;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.formCreateCupon .formContainer .form-group {
  margin-bottom: 1em;
  width: 100%;
}

.formCreateCupon .formContainer .form-control {
  width: 100%;
  min-width: 20em;
}

.formCreatePromocion h3 {
  color: #547ab7;
}

.formCreatePromocion {
  display: flex;
  justify-content: center;
}

.formCreatePromocion .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cfcfcf;
  width: 75%;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.formCreatePromocion .formContainer .form-group {
  margin-bottom: 1em;
  width: 100%;
}

.formCreatePromocion .formContainer .form-control {
  width: 100%;
  min-width: 20em;
}

.formCreateCategoria h3 {
  color: #547ab7;
}

.formCreateCategoria {
  display: flex;
  justify-content: center;
}

.formCreateCategoria .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cfcfcf;
  width: 75%;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.formCreateCategoria .formContainer .form-group {
  margin-bottom: 1em;
  width: 100%;
}

.formCreateCategoria .formContainer .form-control {
  width: 100%;
  min-width: 20em;
}

.formularioInicioSesion {
  background-color: #cfcfcf;
  color: #547ab7;
}

.navbar {
  /*background-color: #2668d3;*/
  background-color: #0950a8;
  color: #FFF;
}

.nav-item {
  font-weight: bold;
  padding: 0.3em;
  margin-right: 0.5em;
  color: #FFF;
}

.navbar-toggler {
  background-color: #a8c9ff;
}

.nav-link {
  color: #FFF;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navButton {
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .formCreateUser .formContainer .form-control {
    width: 100%;
    min-width: 15em;
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
