ion-content {
  --background: #ffffff;
}

ion-toolbar {
  --background: #e6e5e5;
  color: #000000;
}

ion-menu-button {
  color: blue;
}

p {
  color: #000;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}

ion-card {
  background: #FFF;
}

ion-img {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

ion-card-content {
  padding: 1em;
}

ion-card-content p {
  font-size: 1.2em;
  font-weight: normal;
  color: #666;
}

ion-card-content .name {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}

ion-card-content p:last-child {
  font-size: 1.2em;
  font-weight: normal;
  color: #666;
}

